.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &--dark {
    background: $secondary-color-darker;
  }
}

.separator {
  border-top: $thin-line 1px solid;
}

.full-image {
  width: 100%;
}

.line {
  border-top: none;

  &--grey {
    border-bottom: 1px solid $thin-line;
  }
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  &--center {
    text-align: center;
  }

  &__heading {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    margin: 15px 0 5px;
  }

  &__description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $light-grey;
  }
}

.grid {
  display: grid;
  grid-gap: 30px;

  &--col-2 {
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    }
  }

  &--col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $bp-medium) {
    grid-template-columns: 1fr;
  }
}
